@import "tachyons";

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.platform-icon {
  width: 2.4rem;
  height: 2.4rem;
}
.spotify-svg, .soundcloud-svg {
  fill: #111;
  opacity: .45;
  transition: opacity 200ms;
  &:hover {
    opacity: 1;
  }
}

.big-box-shadow {
  box-shadow: 0px 50px 160px 0 rgba(20,52,92,0.18);
}

.btn-reset {
  cursor: pointer;
  outline: none;
  border-width: 0;
  background-color: transparent;
  &:disabled {
    cursor: not-allowed;
    opacity: .6;
  }
}
